.DS_Store

karabiner/automatic_backups

thefuck/__pycache__

tridactyl/grouprules
tridactyl/grouprules.js

zsh/.*
zsh/secrets.zsh

# Machine specific overrides
ghostty/machine

# Theme definitions
# These are changed regularly and don't need to be tracked.
# No need to dirty up the tree
ghostty/theme
nvim/lua/myvi/colorscheme.lua
