.DS_Store
.idea

karabiner/automatic_backups

opencode/node_modules
opencode/opencode.json

thefuck/__pycache__

tridactyl/grouprules
tridactyl/grouprules.js

zsh/.*
!zsh/.zprofile
zsh/secrets.zsh

# Machine specific overrides
ghostty/machine

# Theme definitions
# These are changed regularly and don't need to be tracked.
# No need to dirty up the tree
ghostty/theme
nvim/lua/myvi/colorscheme.lua
