:root {
    --tridactyl-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --tridactyl-cmdl-font-family: var(--tridactyl-font-family);

    --tridactyl-status-font-size: 14px;
    --tridactyl-status-font-family: var(--tridactyl-font-family);
    --tridactyl-status-font-bg: var(--tridactyl-cmdl-bg);
    --tridactyl-status-border: 2px solid black;
    --tridactyl-status-border-radius: 4px;

    --tridactyl-header-font-size: 20px;

    --tridactyl-of-fg: black;
    --tridactyl-of-bg: hsl(210, 100%, 80%);
    --tridactyl-url-fg: hsl(210, 100%, 70%);

    --tridactyl-hintspan-font-family: var(--tridactyl-font-family);
    --tridactyl-hintspan-fg: white;
    --tridactyl-hintspan-bg: #204e8a;

    --tridactyl-hint-active-fg: #333;
    --tridactyl-hint-active-bg: hsl(210, 100%, 80%);
    --tridactyl-hint-active-outline: 1px solid #000;

    --tridactyl-hint-bg: rgba(13, 31, 54, 0.25);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-cmdl-bg: var(--tridactyl-bg);
    --tridactyl-cmdl-fg: var(--tridactyl-fg);
    --tridactyl-cmdl-font-size: 1.5rem;
    --tridactyl-cmplt-option-height: 1.9em;

    --tridactyl-border-radius: 10px;
}

@media (prefers-color-scheme: light) {
    :root {
        --tridactyl-bg: hsla(0, 0%, 95%, 100%);
        --tridactyl-bg-border: 1px solid hsla(0, 0%, 0%, 80%);
        --tridactyl-bg-inset: inset 0 0 0 1px hsla(0, 0%, 100%, 0%);
        --tridactyl-fg: hsl(0, 0%, 0%);
        --tridactyl-cmdl-shadow: hsla(0, 0%, 0%, 20%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --tridactyl-bg: hsla(0, 0%, 25%, 100%);
        --tridactyl-bg-border: 1px solid hsla(0, 0%, 0%, 80%);
        --tridactyl-bg-inset: inset 0 0 0 1px hsla(0, 0%, 100%, 50%);
        --tridactyl-fg: hsl(0, 0%, 100%);
        --tridactyl-cmdl-shadow: hsla(0, 0%, 0%, 40%);
    }
}

/*
 * Main window
 */

:root.TridactylOwnNamespace.TridactylThemeMytheme * {
    box-sizing: border-box;
}

:root.TridactylOwnNamespace.TridactylThemeMytheme {
    background: var(--tridactyl-bg);
}

:root.TridactylOwnNamespace.TridactylThemeMytheme body {
    top: 0;
}

:root #cmdline_iframe {
    backdrop-filter: blur(16px);
    border-radius: var(--tridactyl-border-radius) !important;
    position: fixed !important;
    bottom: unset;
    top: 25% !important;
    left: 10% !important;
    z-index: 2147483647 !important;
    width: 80% !important;
    color-scheme: light dark;
    /* Prevent Firefox from adding a white background on dark-mode sites */
}

:root #cmdline_iframe:not(.hidden) {
    border: var(--tridactyl-bg-border) !important;
    box-shadow: 0 15px 30px var(--tridactyl-cmdl-shadow) !important;
}

/*
 * Links
 */

:root.TridactylOwnNamespace {
    scrollbar-width: thin;
}

:root.TridactylOwnNamespace a {
    background: transparent;
    color: #3b84ef;
}

:root.TridactylOwnNamespace code {
    background-color: #2a333c;
    padding: 3px 7px;
}


/*
 * Command line
 */

:root #command-line-holder {
    background: transparent;
    order: 1;
}

:root #tridactyl-colon::before {
    content: "";
}

:root #tridactyl-input {
    background: transparent;
    width: 96%;
    padding: 1rem;
}

/*
 * Completions
 */

:root #completions table {
    font-weight: 200;
    table-layout: fixed;
    padding: 1rem;
    padding-top: 0;
}

:root #completions>div {
    max-height: calc(20 * var(--tridactyl-cmplt-option-height));
    min-height: calc(10 * var(--tridactyl-cmplt-option-height));
}

:root #completions {
    background: transparent;
    border: none;
    font-family: var(--tridactyl-font-family);
    order: 2;
}

:root #completions a.url {
    background: transparent;
}

:root #completions .HistoryCompletionSource table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

:root #completions .BufferCompletionSource table {
    width: unset;
    font-size: unset;
    border-spacing: unset;
    table-layout: unset;
}

:root #completions table tr.focused {
    background: none;
}

:root #completions table tr.focused td {
    background: var(--tridactyl-of-bg);
}

:root #completions table tr td:first-child {
    border-radius: 5px 0 0 5px;
}

:root #completions table tr td:last-child {
    border-radius: 0 5px 5px 0;
}

:root #completions table tr .title {
    font-weight: 500;
    width: 50%;
}

:root #completions tr .documentation {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
}

:root #completions .sectionHeader {
    background: transparent;
    padding: 1rem 1rem 0.4rem !important;
    height: auto;
    font-size: 1rem;
}

/*
 * Status indicator
 */

/*:root .TridactylStatusIndicator {*/
/*    background-color: var(--tridactyl-bg) !important;*/
/*    backdrop-filter: blur(16px);*/
/*    border: 1px solid var(--tridactyl-bg-border) !important;*/
/*    border-radius: 20px !important;*/
/*    font-family: var(--tridactyl-font-family) !important;*/
/*    font-size: 12px !important;*/
/*    padding: 3px 8px !important;*/
/*    position: fixed !important;*/
/*    bottom: 10px !important;*/
/*    right: 10px !important;*/
/*}*/

:root .TridactylStatusIndicator {
    display: none !important;
}

/*
 * Hints
 */

span.TridactylHint {
    border-radius: 5px 5px 0 5px !important;
    transform: translate(-50%, -50%) !important;
}
