/* This stylesheet is installed only in Firefox's Niri/Hyprland profile. */

.titlebar-buttonbox-container,
.titlebar-buttonbox,
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

/* Shrink tabs */
:root {
  @media not -moz-pref("browser.nova.enabled") {
    --tab-min-height: 26px !important;
  }
}

#tabbrowser-tabs {
  padding-left: 2px;
}

/* Shrink navbar */
:root {
  --toolbarbutton-padding-inner: 4px !important;
}

#urlbar-container {
  --urlbar-container-height: 30px !important;
}
.urlbar {
  --urlbar-height: 28px !important;
  --urlbar-min-height: var(--urlbar-height) !important;
  --urlbar-background-background-color: transparent !important;
  --urlbar-background-outline-focused: none !important;
}
